html {
	box-sizing: border-box;
	-ms-text-size-adjust:100%;
	overflow-x: hidden;
}

html,body {
	margin: 0;
	padding: 0;
	font-size: $global-font-size;
	line-height: $global-line-height;
	font-weight: normal;
}

/*
 * Reset box sizing.
 */
*, *:before, *:after {
	box-sizing: inherit;
}

/*
 * Links
 */

/* Remove gaps in links underline in iOS 8+ and Safari 8+. */
a { -webkit-text-decoration-skip: objects; }

/* Remove the outline on focused links when they are also active or hovered */
a:active,
a:hover { outline: none; }

a {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}


/*
 * Text-level semantics
 */

abbr[title] {
	text-decoration: underline;
	-webkit-text-decoration-style: dotted;
}

/*
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong { font-weight: bolder; }

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
	font-size: $global-small-font-size;
	white-space: nowrap;
}

/*
 * Quote
 */

q { font-style: italic; }

/*
 * Add the correct font size in all browsers.
 */

small { font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }


/*
 * Embedded content
 * Remove the gap between embedded content and the bottom of their containers.
 */

audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle; }

canvas,
img,
video {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

@supports (display: block) {
	svg {
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}

/*
 * Hide the overflow in IE.
 */

svg:not(:root) { overflow: hidden; }

/*
 * Hide `alt` text for lazy load images
 * Selector for background while loading img[data-src*='.jpg'][src*='data:image'] { background: grey; }
 */

img:not([src]) { visibility: hidden; }

/*
 * Iframe
 * Remove border in all browsers
 */

iframe { border: 0; }


/*
 * Block elements
 */

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure { margin: 0 0 $global-margin 0; }

/* Add margin if adjacent element */
* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure { margin-top: $global-margin; }


/*
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $global-small-margin 0;
	font-weight: bold;
	text-transform: none;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

h1 {
	font-size: $global-xxlarge-font-size;
}

h2 {
	font-size: $global-xlarge-font-size;
}

h3 {
	font-size: $global-large-font-size;
}

h4 {
	font-size: $global-medium-font-size;
}

h5 {
	font-size: $global-font-size;
}

h6 {
	font-size: $global-small-font-size;
}


/*
 * Lists
 */

ul,
ol { padding-left: $global-margin; }

/*
 * Reset margin for nested lists
 */

ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul { margin: 0; }


/*
 * Description lists
 */

dt { font-weight: bold; }
dd { margin-left: 0; }


/*
 * Horizontal rules
 */

hr {
	text-align: inherit;
	margin: 0 0 $global-margin 0;
	border: 0;
	border-top-width: $global-border-width;
	border-top-style: solid;
}

/* Add margin if adjacent element */
* + hr { margin-top: $global-margin }


/*
 * Address
 */

address { font-style: normal; }

/*
 * Blockquotes
 */

blockquote {
	margin: 0 0 $global-margin 0;
	font-size: $global-medium-font-size;
	line-height: $global-line-height;
	font-style: italic;
}

/* Add margin if adjacent element */
* + blockquote { margin-top: $global-margin; }

/*
 * Content
 */

blockquote p:last-of-type { margin-bottom: 0; }

blockquote footer {
	margin-top:  $global-small-margin;
	font-size: $global-small-font-size;
	line-height: $global-line-height;
}

/*
 * Preformatted text
 */

pre {
	-moz-tab-size: 4;
	tab-size: 4;
	overflow: auto;
}
