// Variables
// ========================================================================

$base-body-background:                           $global-background !default;
$base-body-font-weight:                          normal !default;
$base-body-font-size:                            $global-font-size !default;
$base-body-line-height:                          $global-line-height !default;
$base-body-color:                                $global-color !default;

$base-link-color:                                $global-link-color !default;
$base-link-text-decoration:                      none !default;
$base-link-hover-color:                          $global-link-hover-color !default;
$base-link-hover-text-decoration:                underline !default;

$base-strong-font-weight:                        bolder !default;
$base-code-font-size:                            $global-small-font-size !default;
$base-code-font-family:                          Consolas, monaco, monospace !default;
$base-code-color:                                $global-danger-background !default;
$base-em-color:                                  $global-danger-background !default;
$base-ins-background:                            #ffd !default;
$base-ins-color:                                 $global-color !default;
$base-mark-background:                           #ffd !default;
$base-mark-color:                                $global-color !default;
$base-quote-font-style:                          italic !default;
$base-small-font-size:                           80% !default;

$base-margin-vertical:                           $global-margin !default;

$base-heading-font-weight:                       normal !default;
$base-heading-color:                             $global-emphasis-color !default;
$base-heading-text-transform:                    none !default;
$base-heading-margin-top:                        $global-medium-margin !default;
$base-h1-font-size-m:                            $global-xxlarge-font-size !default;
$base-h1-font-size:                              $base-h1-font-size-m * 0.85 !default;
$base-h1-line-height:                            1.2 !default;
$base-h2-font-size-m:                            $global-xlarge-font-size !default;
$base-h2-font-size:                              $base-h2-font-size-m * 0.85 !default;
$base-h2-line-height:                            1.3 !default;
$base-h3-font-size:                              $global-large-font-size !default;
$base-h3-line-height:                            1.4 !default;
$base-h4-font-size:                              $global-medium-font-size !default;
$base-h4-line-height:                            1.4 !default;
$base-h5-font-size:                              $global-font-size !default;
$base-h5-line-height:                            1.4 !default;
$base-h6-font-size:                              $global-small-font-size !default;
$base-h6-line-height:                            1.4 !default;

$base-list-padding-left:                         30px !default;

$base-hr-margin-vertical:                        $global-margin !default;
$base-hr-border-width:                           $global-border-width !default;
$base-hr-border:                                 $global-border !default;

$base-blockquote-font-size:                      $global-medium-font-size !default;
$base-blockquote-line-height:                    1.5 !default;
$base-blockquote-font-style:                     italic !default;
$base-blockquote-margin-vertical:                $global-margin !default;
$base-blockquote-footer-margin-top:              $global-small-margin !default;
$base-blockquote-footer-font-size:               $global-small-font-size !default;
$base-blockquote-footer-line-height:             1.5 !default;

$base-pre-font-size:                             $global-small-font-size !default;
$base-pre-line-height:                           1.5 !default;
$base-pre-font-family:                           $base-code-font-family !default;
$base-pre-color:                                 $global-color !default;

$base-selection-background:                      #39f !default;
$base-selection-color:                           $global-inverse-color !default;


/* ========================================================================
Component: Base
========================================================================== */
html {
	box-sizing: border-box;
	-ms-text-size-adjust:100%;
	background: $base-body-background;
	color: $base-body-color;
	overflow-x: hidden;
}

html,body {
	margin: 0;
	padding: 0;
	font-size: $base-body-font-size;
	font-weight: $base-body-font-weight;
	line-height: $base-body-line-height;
}

/*
 * Reset box sizing.
 */
*, *:before, *:after {
	box-sizing: inherit;
}

/* Links
========================================================================== */

/*
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a { -webkit-text-decoration-skip: objects; }

/*
 * Remove the outline on focused links when they are also active or hovered
 */

a:active,
a:hover { outline: none; }

/*
 * Style
 */

a {
	color: $base-link-color;
	text-decoration: $base-link-text-decoration;
	cursor: pointer;
}

a:hover {
	color: $base-link-hover-color;
	text-decoration: $base-link-hover-text-decoration;
}


/* Text-level semantics
========================================================================== */

/*
 * 1. Add an underline text decoration in Safari, Edge and IE.
 * 2. Add `dotted` style in Safari.
 * Note: The shorthand declaration `underline dotted` is not supported in Safari, Edge and IE.
 */

abbr[title] {
	/* 1 */
	text-decoration: underline;
	/* 2 */
	-webkit-text-decoration-style: dotted;
}

/*
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong { font-weight: $base-strong-font-weight; }

/*
 * 1. Consolas has a better baseline in running text compared to `Courier`
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Style
 */

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
	/* 1 */
	font-family: $base-code-font-family;
	/* 2 */
	font-size: $base-code-font-size;
	/* 3 */
	color: $base-code-color;
	white-space: nowrap;
}

/*
 * Emphasize
 */

em { color: $base-em-color; }

/*
 * Insert
 */

ins {
	background: $base-ins-background;
	color: $base-ins-color;
	text-decoration: none;
}

/*
 * Mark
 */

mark {
	background: $base-mark-background;
	color: $base-mark-color;
}

/*
 * Quote
 */

q { font-style: $base-quote-font-style; }

/*
 * Add the correct font size in all browsers.
 */

small { font-size: $base-small-font-size; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* Embedded content
========================================================================== */

/*
 * Remove the gap between embedded content and the bottom of their containers.
 */

audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle; }

/*
 * 1. Add responsiveness.
 * 2. Auto-scale the height. Only needed if `height` attribute is present.
 * 3. Corrects responsive `max-width` behavior if padding and border are used.
 * 4. Exclude SVGs for IE11 because they don't preserve their aspect ratio.
 */

canvas,
img,
video {
	/* 1 */
	max-width: 100%;
	/* 2 */
	height: auto;
	/* 3 */
	box-sizing: border-box;
}

/* 4 */
@supports (display: block) {
	svg {
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}

/*
 * Hide the overflow in IE.
 */

svg:not(:root) { overflow: hidden; }

/*
 * Hide `alt` text for lazy load images
 * Selector for background while loading img[data-src*='.jpg'][src*='data:image'] { background: grey; }
 */

img:not([src]) { visibility: hidden; }

/*
 * Iframe
 * Remove border in all browsers
 */

iframe { border: 0; }


/* Block elements
========================================================================== */

/*
 * Margins
 */

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure { margin: 0 0 $base-margin-vertical 0; }

/* Add margin if adjacent element */
* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure { margin-top: $base-margin-vertical; }


	/* Headings
	========================================================================== */

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $base-margin-vertical 0;
	font-weight: $base-heading-font-weight;
	color: $base-heading-color;
	text-transform: $base-heading-text-transform;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* Add margin if adjacent element */
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 { margin-top: $base-heading-margin-top; }

	/*
	 * Sizes
	 */

h1 {
	font-size: $base-h1-font-size;
	line-height: $base-h1-line-height;
}

h2 {
	font-size: $base-h2-font-size;
	line-height: $base-h2-line-height;
}

h3 {
	font-size: $base-h3-font-size;
	line-height: $base-h3-line-height;
}

h4 {
	font-size: $base-h4-font-size;
	line-height: $base-h4-line-height;
}

h5 {
	font-size: $base-h5-font-size;
	line-height: $base-h5-line-height;
}

h6 {
	font-size: $base-h6-font-size;
	line-height: $base-h6-line-height;
}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {
	h1 { font-size: $base-h1-font-size-m; }
	h2 { font-size: $base-h2-font-size-m; }
}


/* Lists
========================================================================== */

ul,
ol { padding-left: $base-list-padding-left; }

/*
 * Reset margin for nested lists
 */

ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul { margin: 0; }


/* Description lists
========================================================================== */

dt { font-weight: bold; }
dd { margin-left: 0; }


/* Horizontal rules
========================================================================== */

hr {
	text-align: inherit;
	/* 4 */
	margin: 0 0 $base-hr-margin-vertical 0;
	border: 0;
	border-top: $base-hr-border-width solid $base-hr-border;
}

/* Add margin if adjacent element */
* + hr { margin-top: $base-hr-margin-vertical }


/* Address
========================================================================== */

address { font-style: normal; }


/* Blockquotes
========================================================================== */

blockquote {
	margin: 0 0 $base-blockquote-margin-vertical 0;
	font-size: $base-blockquote-font-size;
	line-height: $base-blockquote-line-height;
	font-style: $base-blockquote-font-style;
}

/* Add margin if adjacent element */
* + blockquote { margin-top: $base-blockquote-margin-vertical; }

/*
 * Content
 */

blockquote p:last-of-type { margin-bottom: 0; }

blockquote footer {
	margin-top:  $base-blockquote-footer-margin-top;
	font-size: $base-blockquote-footer-font-size;
	line-height: $base-blockquote-footer-line-height;
}


/* Preformatted text
========================================================================== */

/*
 * 1. Contain overflow in all browsers.
 */

pre {
	font: $base-pre-font-size unquote("/") $base-pre-line-height $base-pre-font-family;
	color: $base-pre-color;
	-moz-tab-size: 4;
	tab-size: 4;
	/* 1 */
	overflow: auto;
}

pre code { font-family: $base-pre-font-family; }


/* Selection pseudo-element
========================================================================== */

::selection {
	background: $base-selection-background;
	color: $base-selection-color;
	text-shadow: none;
}
