// Name:            Button
// Description:     Styles for buttons
//
// Component:       `uk-button`
//
// Sub-objects:     `uk-button-group`
//
// Modifiers:       `uk-button-default`
//                  `uk-button-primary`
//                  `uk-button-secondary`
//                  `uk-button-danger`
//                  `uk-button-text`
//                  `uk-button-link`
//                  `uk-button-small`
//                  `uk-button-large`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

$button-line-height:                             $global-control-height !default;
$button-small-line-height:                       $global-control-small-height !default;
$button-large-line-height:                       $global-control-large-height !default;

$button-font-size:                               $global-font-size !default;
$button-small-font-size:                         $global-small-font-size !default;
$button-large-font-size:                         $global-medium-font-size !default;

$button-padding-horizontal:                      $global-gutter !default;
$button-small-padding-horizontal:                $global-small-gutter !default;
$button-large-padding-horizontal:                $global-medium-gutter !default;

$button-default-background:                      $global-muted-background !default;
$button-default-color:                           $global-emphasis-color !default;
$button-default-hover-background:                darken($button-default-background, 5%) !default;
$button-default-hover-color:                     $global-emphasis-color !default;
$button-default-active-background:               darken($button-default-background, 10%) !default;
$button-default-active-color:                    $global-emphasis-color !default;

$button-primary-background:                      $global-primary-background !default;
$button-primary-color:                           $global-inverse-color !default;
$button-primary-hover-background:                darken($button-primary-background, 5%) !default;
$button-primary-hover-color:                     $global-inverse-color !default;
$button-primary-active-background:               darken($button-primary-background, 10%) !default;
$button-primary-active-color:                    $global-inverse-color !default;

$button-secondary-background:                    $global-secondary-background !default;
$button-secondary-color:                         $global-inverse-color !default;
$button-secondary-hover-background:              darken($button-secondary-background, 5%) !default;
$button-secondary-hover-color:                   $global-inverse-color !default;
$button-secondary-active-background:             darken($button-secondary-background, 10%) !default;
$button-secondary-active-color:                  $global-inverse-color !default;

$button-danger-background:                       $global-danger-background !default;
$button-danger-color:                            $global-inverse-color !default;
$button-danger-hover-background:                 darken($button-danger-background, 5%) !default;
$button-danger-hover-color:                      $global-inverse-color !default;
$button-danger-active-background:                darken($button-danger-background, 10%) !default;
$button-danger-active-color:                     $global-inverse-color !default;

$button-disabled-background:                     $global-muted-background !default;
$button-disabled-color:                          $global-muted-color !default;

$button-text-line-height:                        $global-line-height !default;
$button-text-color:                              $global-muted-color !default;
$button-text-hover-color:                        $global-color !default;
$button-text-disabled-color:                     $global-muted-color !default;

$button-link-line-height:                        $global-line-height !default;
$button-link-color:                              $global-link-color !default;
$button-link-hover-color:                        $global-link-hover-color !default;
$button-link-hover-text-decoration:              underline !default;
$button-link-disabled-color:                     $global-muted-color !default;


/* ========================================================================
   Component: Button
 ========================================================================== */

/*
 * 1. Remove margins in Chrome, Safari and Opera.
 * 2. Remove borders for `button`.
 * 3. Address `overflow` set to `hidden` in IE.
 * 4. Correct `font` properties and `color` not being inherited for `button`.
 * 5. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 6. Style
 * 7. `line-height` is used to create a height because it also centers the text vertically for `a` elements.
 *    Better would be to use height and flexbox to center the text vertically but flexbox doesn't work in Firefox on `button` elements.
 * 8. Align text if button has a width
 * 9. Required for `a`.
 */

button, input[type="submit"], input[type="reset"] {
    /* 1 */
    margin: 0;
    /* 2 */
    border: none;
    /* 3 */
    overflow: visible;
    /* 4 */
    font: inherit;
    color: inherit;
    /* 5 */
    text-transform: none;
    /* 6 */
    display: inline-block;
    box-sizing: border-box;
    padding: 0 $button-padding-horizontal;
    vertical-align: middle;
    font-size: $button-font-size;
    /* 7 */
    line-height: $button-line-height;
    /* 8 */
    text-align: center;
    /* 9 */
    text-decoration: none;
}

button:not(:disabled), input[type="submit"]:not(:disabled), input[type="reset"]:not(:disabled) {
	cursor: pointer;
}

/*
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Hover */
button:hover {
    /* 9 */
    text-decoration: none;
}

/* Focus */
button:focus {
    outline: none;
}


/* Style modifiers
 ========================================================================== */

/*
 * Default
 */

.uk-btn-default {
    background-color: $button-default-background;
    color: $button-default-color;
}

/* Hover + Focus */
.uk-btn-default:hover,
.uk-btn-default:focus {
    background-color: $button-default-hover-background;
    color: $button-default-hover-color;
}

/* OnClick + Active */
.uk-btn-default:active,
.uk-btn-default.uk-active {
    background-color: $button-default-active-background;
    color: $button-default-active-color;
}

/*
 * Primary
 */

.uk-btn-primary {
    background-color: $button-primary-background;
    color: $button-primary-color;
}

/* Hover + Focus */
.uk-btn-primary:hover,
.uk-btn-primary:focus {
    background-color: $button-primary-hover-background;
    color: $button-primary-hover-color;
}

/* OnClick + Active */
.uk-btn-primary:active,
.uk-btn-primary.uk-active {
    background-color: $button-primary-active-background;
    color: $button-primary-active-color;
}

/*
 * Secondary
 */

.uk-btn-secondary {
    background-color: $button-secondary-background;
    color: $button-secondary-color;
}

/* Hover + Focus */
.uk-btn-secondary:hover,
.uk-btn-secondary:focus {
    background-color: $button-secondary-hover-background;
    color: $button-secondary-hover-color;
}

/* OnClick + Active */
.uk-btn-secondary:active,
.uk-btn-secondary.uk-active {
    background-color: $button-secondary-active-background;
    color: $button-secondary-active-color;
}

/*
 * Danger
 */

.uk-btn-danger {
    background-color: $button-danger-background;
    color: $button-danger-color;
}

/* Hover + Focus */
.uk-btn-danger:hover,
.uk-btn-danger:focus {
    background-color: $button-danger-hover-background;
    color: $button-danger-hover-color;
}

/* OnClick + Active */
.uk-btn-danger:active,
.uk-btn-danger.uk-active {
    background-color: $button-danger-active-background;
    color: $button-danger-active-color;
}

/*
 * Disabled
 * The same for all style modifiers
 */

.uk-btn-default:disabled,
.uk-btn-primary:disabled,
.uk-btn-secondary:disabled,
.uk-btn-danger:disabled {
    background-color: $button-disabled-background;
    color: $button-disabled-color;
}


/* Size modifiers
 ========================================================================== */

.uk-btn-small {
    padding: 0 $button-small-padding-horizontal;
    line-height: $button-small-line-height;
    font-size: $button-small-font-size;
}

.uk-btn-large {
    padding: 0 $button-large-padding-horizontal;
    line-height: $button-large-line-height;
    font-size: $button-large-font-size;
}


/* Text modifiers
 ========================================================================== */

/*
 * Text
 * 1. Reset
 * 2. Style
 */

.uk-btn-text {
    /* 1 */
    padding: 0;
    line-height: $button-text-line-height;
    background: none;
    /* 2 */
    color: $button-text-color;
}

/* Hover + Focus */
.uk-btn-text:hover,
.uk-btn-text:focus {
    color: $button-text-hover-color;
}

/* Disabled */
.uk-btn-text:disabled {
    color: $button-text-disabled-color;
}

/*
 * Link
 * 1. Reset
 * 2. Style
 */

.uk-btn-link {
    /* 1 */
    padding: 0;
    line-height: $button-link-line-height;
    background: none;
    /* 2 */
    color: $button-link-color;
}

/* Hover + Focus */
.uk-btn-link:hover,
.uk-btn-link:focus {
    color: $button-link-hover-color;
    text-decoration: $button-link-hover-text-decoration;
}

/* Disabled */
.uk-btn-link:disabled {
    color: $button-link-disabled-color;
    text-decoration: none;
}


/* Group
 ========================================================================== */

/*
 * 1. Using `flex` instead of `inline-block` to prevent whitespace betweent child elements
 * 2. Behave like button
 * 3. Create position context
 */

.uk-btn-group {
    /* 1 */
    display: inline-flex;
    /* 2 */
    vertical-align: middle;
    /* 3 */
    position: relative;
}
