/*--------------------------------------------------------------
# Component: Comment
--------------------------------------------------------------*/

/*
 * clearfix
 */

.comment-body::before,
.comment-body::after {
	content: "";
	display: table;
}

.comment-body::after { clear: both; }

/*
 * List
 */

.comment-list {
	padding: 0;
	list-style: none;
}

.comment-list,
.comment-list .children {
	list-style: none;
}

/*
 * Comment
 */

.comment-list li.comment > article.comment-body {
	position: relative;
	margin: 0 0 $global-margin $global-xlarge-margin;
	padding: $global-margin $global-medium-margin $global-small-margin $global-medium-margin;
	background: #f3f3f3;
	border: none;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.comment-list li.comment > article.comment-body:after {
	position: absolute;
	top: 0;
	left: -20px;
	content: "";
	z-index: 100;
	width: 0;
	height: 0;
	border: none;
	border-bottom: 20px solid #0000;
	border-right: 20px solid #f3f3f3;
}

.comment-list li.comment > article.comment-body .comment-content {
	overflow: hidden;
}

.comment-list li.comment > article.comment-body .comment-content,
.comment-list li.comment > article.comment-body .comment-content * {
	overflow-wrap: break-word;
	word-wrap: break-word;
	white-space: wrap;
}

/*
 * Gravatar
 */

.comment-list li.comment > figure.gravatar,
.comment-list li.comment > figure.gravatar img {
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
	border-radius: 99px;
	background-color: transparent;
}

.comment-list li.comment > figure.gravatar {
	float: left;
	margin-top: 5px;
	margin-right: 15px;
	vertical-align: middle;
}


/*
 * Title
 */

.comment-title {
	font-size: $global-font-size;
	line-height: $global-line-height;
}


/*
 * Footer
 */

article.comment-body .comment-footer {
	margin: 0 0 $global-margin 0;
	padding: 0 0 $global-small-margin 0;
	border-bottom-width: $global-border-width;
	border-bottom-style: $global-border-style;
}

article.comment-body .comment-author .fn {
	font-size: $global-small-font-size;
}


/*
 * Meta
 */

article.comment-body .comment-metadata {
	font-size: $global-small-font-size;
}

.comment-meta-item, .comment-meta-item > * {
	font-size: $global-small-font-size;
	line-height: $global-line-height;
}

.comment-list article .edit-link,
.comment-list article .reply-link {
	display: none;
	float: right;
	margin: 0 $global-small-margin;
}

.comment-list article:hover .edit-link,
.comment-list article:hover .reply-link {
	display: inline;
}

