/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$heading-line-top:                               50% !default;
$heading-line-height:                            $global-border-width !default;
$heading-line-width:                             2000px !default;
$heading-line-border-width:                      $global-border-width !default;
$heading-line-border:                            $global-border !default;
$heading-line-margin-horizontal:                 0.6em !default;


/*--------------------------------------------------------------
# Component: Heading
--------------------------------------------------------------*/

/*
 * Divider
 */

.uk-heading-divider {
	padding-bottom: $global-small-margin;
	border-bottom: $global-border-width solid $global-border;
}

/*
 * Line
 */

.uk-heading-line { overflow: hidden; }

.uk-heading-line > * {
	display: inline-block;
	position: relative;
}

.uk-heading-line > ::before,
.uk-heading-line > ::after {
	content: "";
	position: absolute;
	top: unquote('calc(#{$heading-line-top} - (#{$heading-line-height} / 2))');
	width: $heading-line-width;
	border-bottom-width: $heading-line-border-width;
	border-bottom-style: solid;
	}

	.uk-heading-line > ::before {
	right: 100%;
	margin-right: $heading-line-margin-horizontal;
	}
	.uk-heading-line > ::after {
	left: 100%;
	margin-left: $heading-line-margin-horizontal;
	}
