/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$pagination-border-width:                     2px;
$pagination-svg-size:                         1.5em;
$pagination-svg-offset:                       .4em;

/*--------------------------------------------------------------
# Component: Pagination
--------------------------------------------------------------*/

.pagination {
	display: flex;
	flex-wrap: wrap;
	margin: 0 (-$global-margin);
	padding: 0;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.pagination > * {
	flex: none;
	padding-right: $global-small-margin;
	padding-left: $global-small-margin;
	position: relative;
}

.pagination > * > * {
	display: inline-block;
	padding: $pagination-border-width;
}

.pagination > .pager-next,
.pagination > .pager-previous,
.pagination > .pager:last-child,
.pagination > .pager:first-child {
	flex: 1;
}

.pagination > .pager:last-child {
	text-align: left;
}

.pagination > .pager:first-child {
	text-align: right;
}

.pagination > .pager-next,
.pagination > .pager-previous {
	margin-top: -$pagination-svg-offset;
}

.pagination > .pager-previous {
	padding-left: 0;
}

.pagination > .pager-next {
	padding-right: 0;
}

.pagination > .pager-previous > * {
	float: left;
}

.pagination > .pager-next > * {
	float: right;
}

.pagination > .pager-next .icon-svg-wrap,
.pagination > .pager-previous .icon-svg-wrap {
  display: inline-flex;
  align-self: center;
}

.pagination > .pager-next .icon-svg-wrap svg,
.pagination > .pager-previous .icon-svg-wrap svg {
  position: relative;
  top: $pagination-svg-offset;
  height: $pagination-svg-size;
  width: $pagination-svg-size;
}

/* Hover + Focus */
.pagination > * > :hover,
.pagination > * > :focus {
	text-decoration: none;
}

/* Active */
.pagination > * > .current {
	padding-bottom: 0;
	font-weight: bold;
	border-bottom-width: $pagination-border-width;
	border-bottom-style: solid;
}

@media ( max-width: $breakpoint-small ) {

	.pagination .text-wrap {
		width: 0;
		display: none;
	}

}
