/*--------------------------------------------------------------
# Component: Section
--------------------------------------------------------------*/

/*
 * Micro clearfix
 */

main::before, section::before, .section::before,
main::after, section::after, .section::after {
	content: "";
	display: table;
}

main::after, section::after, .section::after { clear: both; }
main, section, .section {
	box-sizing: border-box; /* 1 */
	padding-top: $global-margin;
	padding-bottom: $global-margin;
}

/* Desktop and bigger */
@media (min-width: $breakpoint-medium) {

	main, section, .section {
		padding-top: $global-medium-margin;
		padding-bottom: $global-medium-margin;
	}

}


.section-small {
	padding-top: $global-small-margin;
	padding-bottom: $global-small-margin;
}

.section-medium {
	padding-top: $global-medium-margin;
	padding-bottom: $global-medium-margin;
}

.section-large {
	padding-top: $global-large-margin;
	padding-bottom: $global-large-margin;
}

.section-xlarge {
	padding-top: $global-xlarge-margin;
	padding-bottom: $global-xlarge-margin;
}

/*
 * Remove margin from the last-child
 */

main > :last-child, section > :last-child, .section > :last-child { margin-bottom: 0; }
